:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-btn-color: #ff3150;
    --yellow-btn-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: "Roboto", sans-serif; 
}
.main-btn {
    background-color: var(--red-btn-color);
    color: var(--yellow-btn-color);
    padding: 0.5rem 1.5rem;
}
.main-title::after {
    content: '';
    background-color: var(--green-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 2px;
    position: absolute;
    width: 150px;
}
.main-btn:hover {
    background-color: var(--yellow-btn-color);
    color: var(--red-btn-color);
}
/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}
.search {
    border-left: 1px solid var(--green-color);
}
.search svg {
    color: var(--green-color);
}
.navbar .navbar-toggler {
    color: white;
    border-color: white;
    font-size: 24px;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}
/* End Navbar */
/* Start Landing */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* End Landing */
/* Start Features */
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon {
    color: var(--green-color);
}
.features .feat h4 {
    color: var(--yellow-btn-color);
}
/* End Features */
/* Start Our Work */
.our-work {
    background-color: var(--section-color);
}
.our-work ul .active {
    background-color: var(--red-btn-color);
    color: var(--yellow-btn-color);
}
.our-work ul li {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}
.our-work ul li:hover{
    color: var(--red-btn-color);
}
.our-work ul li.active:hover {
    background-color: var(--yellow-btn-color);
    color: var(--red-btn-color);
}
.our-work .box {
    position: relative;
    padding: 5px;
    overflow: hidden;
}
.our-work .box::before {
    content: attr(data-work);
    background-color: rgb(51 209 204 / 76%);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
    transform: translateX(0);
}
/* End Our Work */
/* Start Stuff Section */
.stuff-section .description {
    max-width: 500px;
}
/* End Stuff Section */
/* Start Team */
.team {
    background-color: var(--section-color);
}
.team h2 {
    color: var(--yellow-btn-color);
}
.team .box h4 {
    background-color: var(--green-color);
}
/* End Team */
/* Start Projects */
.projects {
    background-color: var(--dark-color);
}
/* End Projects */
/* Start Subscribe */
.subscribe {
    background-color: var(--yellow-btn-color);
}
.subscribe input[type = "text"] {
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input[type = "text"]:focus{
    outline: none;
}
.subscribe ::placeholder {
    color: white;
}
.subscribe input[type = "submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-btn-color);
}
/* End Subscribe */
/* Start Footer */
.footer {
    background-color: var(--dark-color);
}
.footer .span-1 {
    color: var(--green-color);
}
.footer .span-2 {
    color: var(--yellow-btn-color);
}
.footer .contacts i {
    width: 30px;
    height: 30px;
}
.footer .contacts .facebook {
    background-color: #1877f2;
}
.footer .contacts .twitter {
    background-color: #1da1f2;
}
.footer .contacts .linkedin {
    background-color: #0077b5;
}
.footer .contacts .youtube {
    background-color: #ff0000;
}
/* End Footer */